{% assign i18n = site.data.i18n %}

<!-- biography -->
<section class="biography content-section bg-light" id="biography">
  <div class="container text-center">
    <div class="content-section-heading">
      <h2 class="mb-5">{{ i18n.section_name.biography }}</h2>
    </div>

    <a href="https://mainichi.jp/articles/20160726/ddl/k24/040/019000c">
      <img
        class="hanare_owners_img"
        src="{{ '/assets/hanare_owners.jpg' | prepend: site.url }}"
        alt="hanare owners"
      >
    </a>

    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="row">
          <div class="col-sm-6">
            <div class="card my-1"">
              <div class="card-body">
                <h4 class="h5 card-title">{{ i18n.biography.atsushi.name }}</h4>
                <p class="card-text">
                  {{ i18n.biography.atsushi.description }}
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card my-1"">
              <div class="card-body">
                <h4 class="h5 card-title">{{ i18n.biography.eri.name }}</h4>
                <p class="card-text">
                  {{ i18n.biography.eri.description }}
                </p>
              </div>
            </div>
          </div>
        </div>

        {% if i18n.biography.info %}
          <div class="alert alert-info text-left" role="alert" style="margin-top:2rem">
            {{ i18n.biography.info }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
