{% assign i18n = site.data.i18n %}

<!-- contact -->
<section class="content-section bg-light" id="contact">
  <div class="container text-center">
    <div class="content-section-heading">
      <h2 class="mb-5">{{ i18n.section_name.contact }}</h2>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div itemscope itemtype="http://schema.org/LocalBusiness" style="margin-bottom:3rem">
          <div itemprop="name" class="h2">{{ i18n.author.name }}</div>
          <span itemprop="telephone" class="h2">
            <i class="icon-phone" ></i>
            <a href="tel:{{ i18n.author.phone }}" class="h1">
              <strong>
                {{ i18n.author.phone }}
              </strong>
            </a>
          </span>
        </div>
        {{ i18n.contact.business_hours }}

        {% if i18n.contact.info %}
          <div class="alert alert-info text-left" role="alert" style="margin-top:2rem">
            {{ i18n.contact.info }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
