<!-- contact -->
<section class="content-section bg-light" id="contact">
  <div class="container text-center">
    <div class="content-section-heading">
      <h3 class="text-secondary mb-0">Contact</h3>
      <h2 class="mb-5">お問合せ</h2>
    </div>
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div itemscope itemtype="http://schema.org/LocalBusiness" style="margin-bottom:3rem">
          <div itemprop="name" class="h2">{{ site.title }}</div>
          <span itemprop="telephone" class="h2">
            <i class="icon-phone" ></i>
            <a href="tel:{{ site.author.phone }}" class="h1">
              <strong>
                {{ site.author.phone }}
              </strong>
            </a>
          </span>
        </div>
        <p>
          <strong>営業時間</strong>
          <br>
          9:00～18:00 (完売終了)
        </p>
        <p>
          <strong>定休日</strong>
          <br>
          木曜日、金曜日
        </p>
      </div>
    </div>
  </div>
</section>
