{% assign i18n = site.data.i18n %}

<!-- footer -->
<footer class="footer text-center" id="contact">
  <div class="container">
    <div itemscope itemtype="http://schema.org/LocalBusiness" style="margin-bottom:1rem">
      <div itemprop="name">{{ i18n.author.name }}</div>
      <span itemprop="telephone" class="h4">
        <i class="icon-phone"></i>
        <a href="tel:{{ i18n.author.phone }}" class="h2">
          <strong>
            {{ i18n.author.phone }}
          </strong>
        </a>
      </span>
    </div>

    <ul class="list-inline mb-5">
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white facebook" href="{{ site.facebook_url }}">
          <i class="icon-social-facebook"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white instagram" href="{{ site.instagram_url }}">
          <i class="icon-social-instagram"></i>
        </a>
      </li>
    </ul>

    <p class="text-muted small mb-0">
      <a class="js-scroll-trigger" href="#page-top">
        &copy; {{ i18n.title }} {{ site.time | date: '%Y' }}. All rights reserved.
      </a>
    </p>
  </div>
</footer>
