<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="{{ site.theme_color }}">

  {% if page.thumbnail_path %}
    <meta property="og:image" content="{{ page.thumbnail_path | prepend: site.url }}">
  {% else %}
    <meta property="og:image" content="{{ site.thumbnail_path | prepend: site.url }}">
  {% endif %}

  {% if page.title %}
    <meta property="og:title" content="{{ site.title }} • {{ page.title }}">
  {% else %}
    <meta property="og:title" content="{{ site.title }}">
  {% endif %}

  <link rel="shortcut icon" href="{{ site.favicon_path | prepend: site.url }}" type="image/x-icon">
  <link rel="icon" href="{{ site.favicon_path | prepend: site.url }}" type="image/x-icon">

  <title>
    {% if page.title %}
      {{ page.title | escape }} | {{ site.title | escape }}
    {% else %}
      {{ site.title | escape }}
    {% endif %}
  </title>

  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <!-- bootstrap core css -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- custom fonts -->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

  <!-- custom css -->
  <link rel="stylesheet" href="/css/main.css">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.rss_feed_path | prepend: site.url }}">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128584998-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-128584998-1');
  </script>
</head>
