<!-- Contact -->
<section class="content-section bg-light" id="contact">
  <div class="container text-center">
    <div class="content-section-heading">
      <h3 class="text-secondary mb-0">Contact</h3>
      <h2 class="mb-5">お問合せ</h2>
    </div>
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <i class="icon-phone"></i>
        <p>{{ site.author.phone }}</p>
        <i class="icon-info"></i>
        <p>
          [営業時間] 9:00～18:00
          <br>
          [定休日] 木曜日、金曜日
        </p>
      </div>
    </div>
  </div>
</section>
