<!-- Location -->
<section class="content-section bg-light" id="location">
  <div class="container text-center">
    <div class="content-section-heading">
      <h3 class="text-secondary mb-0">Location</h3>
      <h2 class="mb-5">交通のご案内</h2>
      <i class="icon-directions"></i>
    </div>
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <p>
          <a target="_blank" href="https://www.kintetsu.co.jp/station/station_info/station19009.html">
            <small>近鉄</small>
            鳥羽駅
          </a>
        </p>
        <p class="mx-3">
          <i class="fas fa-arrows-alt-v"></i>
          <span class="mx-3 text-muted">徒歩約10分</span>
        </p>
        <p>
          <a target="_blank" href="https://www.city.toba.mie.jp/teikisen-kanri/page/access.html">
            <small>鳥羽市営定期船</small>
            佐田浜
            <br>
            （鳥羽マリンターミナル）
          </a>
        </p>
        <p class="mx-3">
          <i class="fas fa-arrows-alt-v"></i>
          <span class="mx-3 text-muted">
            定期船で約15分
            <a target="_blank" href="https://www.city.toba.mie.jp/teikisen-kanri/page/documents/jikoku1.jpg">
              [時刻表]
            </a>
          </span>
        </p>
        <p>
          <a target="_blank" href="https://www.city.toba.mie.jp/teikisen-kanri/page/access.html">
            <small>鳥羽市営定期船</small>
            桃取
          </a>
        </p>
        <p class="mx-3">
          <i class="fas fa-arrows-alt-v"></i>
          <span class="mx-3 text-muted">徒歩約３分</span>
        </p>
        <p>
          <a class="js-scroll-trigger" href="#map">当店</a>
        </p>
      </div>
    </div>
  </div>
</section>

<div class="map" id="map">
  <iframe
    width="100%"
    height="100%"
    frameborder="0"
    scrolling="no"
    marginheight="0"
    marginwidth="0"
    src="https://maps.google.com/maps?q=%E4%B8%89%E9%87%8D%E7%9C%8C%E9%B3%A5%E7%BE%BD%E5%B8%82%E6%A1%83%E5%8F%96%E7%94%BA259%E7%95%AA%E5%9C%B0&t=&z=13&ie=UTF8&iwloc=&output=embed"
  ></iframe>
</div>
