<!-- location -->
<section class="content-section bg-light" id="location">
  <div class="container text-center">
    <div class="content-section-heading">
      <h3 class="text-secondary mb-0">Location</h3>
      <h2 class="mb-5">交通のご案内</h2>
    </div>

    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="row text-left">
          <div class="col-md-6">
            <div class="container">
              <div class="timeline-item" location-name="近鉄 鳥羽駅">
                <p class="text-muted">徒歩約10分</p>
              </div>
              <div class="timeline-item" location-name="鳥羽市営定期船 佐田浜（鳥羽マリンターミナル）">
                <p class="text-muted">定期船で約15分</p>
              </div>
              <div class="timeline-item" location-name="鳥羽市営定期船 桃取">
                <p class="text-muted">徒歩約3分</p>
              </div>
              <div class="timeline-item" location-name="{{ site.title }}">
                <p class="text-muted"></p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="alert alert-info" role="alert">
              <ul>
                <li>
                  <a target="_blank" href="https://www.kintetsu.co.jp/station/station_info/station19009.html">
                    近鉄 鳥羽駅
                  </a>
                </li>
                <li>
                  <a target="_blank" href="https://www.city.toba.mie.jp/kikaku/kousya/tyuusya/tyuusya.html">
                    佐田浜駐車場
                  </a>
                </li>
                <li>
                  <a target="_blank" href="https://www.city.toba.mie.jp/teikisen-kanri/page/access.html">
                    鳥羽市営定期船 のりばへのアクセス
                  </a>
                </li>
                <li>
                  <a target="_blank" href="https://www.city.toba.mie.jp/teikisen-kanri/page/documents/jikoku1.jpg">
                    鳥羽市営定期船 時刻表
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="map" id="map">
  <iframe
    width="100%"
    height="100%"
    frameborder="0"
    scrolling="no"
    marginheight="0"
    marginwidth="0"
    src="https://maps.google.com/maps?q=%E4%B8%89%E9%87%8D%E7%9C%8C%E9%B3%A5%E7%BE%BD%E5%B8%82%E6%A1%83%E5%8F%96%E7%94%BA259%E7%95%AA%E5%9C%B0&t=&z=13&ie=UTF8&iwloc=&output=embed"
  ></iframe>
</div>
