{% assign i18n = site.data.i18n %}

<!-- location -->
<section class="content-section bg-light" id="location">
  <div class="container text-center">
    <div class="content-section-heading">
      <h2 class="mb-5">{{ i18n.section_name.location }}</h2>
    </div>
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="row text-left">
          <div class="col-md-6">
            <div class="container">
              <div class="timeline-item" location-name="{{ i18n.location.kintetsu_toba }}">
                <p class="text-muted">{{ i18n.location.walk_10min }}</p>
              </div>
              <div class="timeline-item" location-name="{{ i18n.location.ferry_toba_marine_terminal }}">
                <p class="text-muted">{{ i18n.location.ferry_15min }}</p>
              </div>
              <div class="timeline-item" location-name="{{ i18n.location.ferry_momotori_station }}">
                <p class="text-muted">{{ i18n.location.walk_3min }}</p>
              </div>
              <div class="timeline-item" location-name="{{ i18n.title }}">
                <p class="text-muted">
                  <a class="js-scroll-trigger" href="#map">
                    <i class="fas fa-map"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="alert alert-info" role="alert">
              <h4 class="alert-heading"><i class="fas fa-info-circle"></i></h4>
              <ul>
                <li>
                  <a href="https://www.kintetsu.co.jp/station/station_info/station19009.html">
                    {{ i18n.location.kintetsu_toba }}
                  </a>
                </li>
                <li>
                  <a href="https://www.city.toba.mie.jp/kikaku/kousya/tyuusya/tyuusya.html">
                    {{ i18n.location.satahama_parking }}
                  </a>
                </li>
                <li>
                  <a href="https://www.city.toba.mie.jp/teikisen-kanri/page/access.html">
                    {{ i18n.location.ferry_stations }}
                  </a>
                </li>
                <li>
                  <a href="https://www.city.toba.mie.jp/teikisen-kanri/page/documents/jikoku1.jpg">
                    {{ i18n.location.ferry_timetable }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 mx-auto" style="overflow-x:auto">
        <img
          src="/images/hanare_magazine.jpg"
          alt="{{ i18n.title }} 雑誌記事"
        >
      </div>
    </div>
  </div>
</section>
