<!-- location -->
<section class="content-section bg-light" id="location">
  <div class="container text-center">
    <div class="content-section-heading">
      <h3 class="text-secondary mb-0">Location</h3>
      <h2 class="mb-5">交通のご案内</h2>
    </div>

    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="row text-left">
          <div class="col-md-6">
            <div class="container">
              <div class="timeline-item" location-name="近鉄 鳥羽駅">
                <p class="text-muted">徒歩約10分</p>
              </div>
              <div class="timeline-item" location-name="鳥羽市営定期船 佐田浜（鳥羽マリンターミナル）">
                <p class="text-muted">定期船で約15分</p>
              </div>
              <div class="timeline-item" location-name="鳥羽市営定期船 桃取">
                <p class="text-muted">徒歩約3分</p>
              </div>
              <div class="timeline-item" location-name="{{ site.title }}">
                <p class="text-muted">
                  <a class="js-scroll-trigger" href="#map">{{ site.author.address }}</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="alert alert-info" role="alert">
              <ul>
                <li>
                  <a target="_blank" href="https://www.kintetsu.co.jp/station/station_info/station19009.html">
                    近鉄鳥羽駅（電車でお越しの場合）
                  </a>
                </li>
                <li>
                  <a target="_blank" href="https://www.city.toba.mie.jp/kikaku/kousya/tyuusya/tyuusya.html">
                    佐田浜駐車場（車でお越しの場合）
                  </a>
                </li>
                <li>
                  <a target="_blank" href="https://www.city.toba.mie.jp/teikisen-kanri/page/access.html">
                    鳥羽市営定期船　のりば
                  </a>
                </li>
                <li>
                  <a target="_blank" href="https://www.city.toba.mie.jp/teikisen-kanri/page/documents/jikoku1.jpg">
                    鳥羽市営定期船　時刻表
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-10 mx-auto" style="overflow-x:auto">
        <img
          src="/assets/hanare_magazine.jpg"
          alt="{{ site.title }} 雑誌記事"
        >
      </div>
    </div>
  </div>
</section>
