{% assign i18n = site.data.i18n %}

<!-- services -->
<section class="content-section bg-primary text-white text-center" id="services">
  <div class="container">
    <div class="content-section-heading">
      <h3 class="text-secondary mb-0">Services</h3>
      <h2 class="mb-5">{{ i18n.section_name.services }}</h2>
    </div>
    <div class="row">
      {% for service in i18n.services.list %}
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <svg class="svg-icon icon-{{ service.icon_name }}"><use xlink:href="#icon-{{ service.icon_name }}"></use></svg>
          </span>
          <h4>
            <strong>{{ service.title }}</strong>
          </h4>
          <p class="text-faded mb-0">
            {{ service.description }}
          </p>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
