<!-- sidebar -->
<a class="menu-toggle" href="#">
  <i class="fas fa-bars"></i>
</a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a class="js-scroll-trigger" href="/">{{ site.title }}</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#page-top">ホーム</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#services">営業内容</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#portfolio">商品の紹介</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#contact">お問合せ</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#location">交通のご案内</a>
    </li>
    <li class="sidebar-nav-item">
      {% include social_buttons.html %}
    </li>
  </ul>
</nav>
