<ul class="list-inline mb-5">
  {% if site.facebook_url %}
    <li class="list-inline-item">
      <a class="social-link rounded-circle text-white facebook" href="{{ site.facebook_url }}">
        <i class="icon-social-facebook"></i>
      </a>
    </li>
  {% endif %}
  {% if site.instagram_url %}
    <li class="list-inline-item">
      <a class="social-link rounded-circle text-white instagram" href="{{ site.instagram_url }}">
        <i class="icon-social-instagram"></i>
      </a>
    </li>
  {% endif %}
</ul>
