$border-color: $primary;

.timeline-item {
  padding: 3em 2em 1px 2em;
  position: relative;
  color: rgba(black, 0.7);
  border-left: 2px solid $border-color;

  p {
    font-size: 1rem;
  }

  &::before {
    content: attr(location-name);
    position: absolute;
    left: 2em;
    font-weight: bold;
    top: 1em;
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 0.785rem;
  }

  &::after {
    width: 10px;
    height: 10px;
    display: block;
    top: 1em;
    position: absolute;
    left: -7px;
    border-radius: 10px;
    content: "";
    border: 2px solid $border-color;
    background: white;
  }

  // &:last-child {
  //   border-image: linear-gradient(
  //       to bottom,
  //       $border-color 60%,
  //       rgba($border-color, 0)
  //     )
  //     1 100%;
  // }
}
