#sidebar-wrapper {
  position: fixed;
  z-index: 2;
  right: 0;
  width: 250px;
  height: 100%;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  transform: translateX(250px);
  background: $primary;
  border-left: 1px solid fade-out($white, 0.9);
  &.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  li.sidebar-nav-item {
    a {
      display: block;
      text-decoration: none;
      color: $white;
      padding: 15px;
      :hover {
        text-decoration: none;
        color: #fff;
        background: rgba(255, 255, 255, 0.2);
      }
      :active,
      :focus {
        text-decoration: none;
      }
    }
  }
  .sidebar-brand {
    font-size: 1.2rem;
    background: fade-out($gray-800, 0.9);
    height: 80px;
    line-height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    a {
      color: $white;
      :hover {
        color: #fff;
        background: none;
        text-decoration: none;
      }
    }
  }
  .sidebar-extra {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
  }
  // https://www.w3schools.com/css/tryit.asp?filename=trycss_grid_display_grid
  .button-grid {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    grid-gap: 3px 3px;
    &--2col {
      display: grid;
      grid-template-columns: 108px 108px;
    }
    &__facebook {
      color: $white!important;
      background-color: $facebook!important;
    }
    &__instagram {
      color: $white!important;
      background-color: $instagram!important;
    }
  }
}

.menu-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: $white;
  background: fade-out($gray-800, 0.5);
  line-height: 50px;
  z-index: 999;
  &:focus,
  &:visited,
  &:hover {
    color: $white;
  }
  &.active {
    border: 1px solid $secondary;
    color: $secondary;
  }
}
